.container {
  display: grid;
  grid-auto-columns: auto;
  grid-auto-rows: auto;
  justify-items: center;
}

.column {
  border: 1px solid black;
  text-align: center;
}

.item {
  justify-self: stretch;
  border: 1px solid black;
  text-align: center;
  height: 100px;
  width: 100px;
}
